<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkFlowBusinessLogic.Properties.Settings.workFlowDBConnectionString"
            connectionString="Data Source=DESKTOP-QMT2GAP;Initial Catalog=workFlowDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>